<!DOCTYPE html>
<html>
  <head>
    <title>TabiMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5bd51b8c93.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="<%= root_path %>">
            <span>TabiMate</span>
          </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if member_signed_in? %>

                <% unless current_member.guest_member? %>
                <li class="nav-item">
                <a class="nav-link text-light" href="<%= member_path(current_member) %>">
                <i class="fa-solid fa-home"></i>
                  <span>Mypage</span>
                </a>
                </li>
                <% end %>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= member_path(current_member) %>">
                  <i class="fa-solid fa-users"></i>
                    <span>Groups</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= new_post_path %>">
                  <i class="fa-solid fa-book-open"></i>
                    <span>New Post</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= posts_path %>">
                  <i class="fa-solid fa-book-open"></i>
                    <span>Posts</span>
                  </a>
                </li>

                <li class="nav-item">
                  <%= form_with url: destroy_member_session_path, method: :delete, local: true, class: "d-inline" do %>
                    <button type="submit" class="nav-link text-light btn btn-link" style="text-decoration: none;">
                      <i class="fa-solid fa-sign-out-alt"></i>
                      <span>Log out</span>
                    </button>
                  <% end %>
                </li>

                <% else %>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= root_path %>">
                  <i class="fa-solid fa-home"></i>
                    <span>Home</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= about_path %>">
                  <i class="fa-solid fa-link"></i>
                    <span>About</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= new_member_registration_path %>">
                  <i class="fa-solid fa-user-plus"></i>
                    <span>Sign up</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-light" href="<%= new_member_session_path %>">
                  <i class="fa-solid fa-sign-in-alt"></i>
                    <span>Log in</span>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      
      <main class="container">
        <% if flash[:notice] %>
          <p class="alert alert-info"><%= flash[:notice] %></p>
        <% end %>
        <%= yield %>
      </main>

    </body>
</html>