<div>name: <%= @member.name %></div>
<div>introduction: <%= @member.introduction %></div>
<div>
  <%= link_to 'Edit', edit_member_path(@member) %>
</div>

<% @posts.each do |post| %>

    <p>
      <%= link_to post.title, post_path(post.id) %>
    </p>
    <p>
      <%= post.body %>
    </p>
    <p>コメント数: 
      <%= @post.post_comments.count %>
    </p>
<% end %>

